<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>自助机前端 图片 静态文件&#xd;
&lt;br/&gt;&#xd;
域名：fe.benmu-health.com&#xd;
&lt;br/&gt;&#xd;
host：&#xd;
&lt;br/&gt;&#xd;
beta3	172.16.100.207&#xd;
&lt;br/&gt;&#xd;
beta2	172.16.100.160&#xd;
&lt;br/&gt;	&#xd;
beta1	172.16.100.158&#xd;
&lt;br/&gt;	&#xd;
dev		172.16.100.161</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>base_git_url</name>
          <description>git 地址</description>
          <defaultValue>http://git.benmu-health.org/fesite/benmu-health-img.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch_name</name>
          <description>分支名</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SSH_PUBLISHERS</name>
          <description>环境</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>beta3</string>
              <string>beta2</string>
              <string>beta1</string>
              <string>dev</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>branch_or_tag</name>
          <description>选择分支或tag</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>refs/heads/</string>
              <string>refs/tags/</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${base_git_url}</url>
        <credentialsId>c7a74331-bde1-4b97-b298-51686095172e</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${branch_or_tag}${branch_name}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.benmu-health.web.platform</groupId>
    <artifactId>img</artifactId>
  </rootModule>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin plugin="publish-over-ssh@1.12">
      <consolePrefix>SSH: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>测试3</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/img</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>#rm -rf /export/img/*
tarPack=&quot;/root/export/img/${JOB_NAME}.tar.gz&quot;
echo &quot;check path is &quot;${tarPack}
if [ -f &quot;${tarPack}&quot; ]
then
        echo &quot;--------------------------- tar file exist--------------------------- &quot;
	mv /root/export/img/*.tar.gz /export/img/
	cd /export/img/
	tar -zxvf ${JOB_NAME}.tar.gz
	rm /export/img/*.tar.gz
else
        echo &quot;--------------------------- tar file no found, do nothing--------------------------- &quot;
fi</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>测试2</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/img</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>#rm -rf /export/img/*
tarPack=&quot;/root/export/img/${JOB_NAME}.tar.gz&quot;
echo &quot;check path is &quot;${tarPack}
if [ -f &quot;${tarPack}&quot; ]
then
        echo &quot;--------------------------- tar file exist--------------------------- &quot;
	mv /root/export/img/*.tar.gz /export/img/
	cd /export/img/
	tar -zxvf ${JOB_NAME}.tar.gz
	rm /export/img/*.tar.gz
else
        echo &quot;--------------------------- tar file no found, do nothing--------------------------- &quot;
fi</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>rpc_beta</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/img</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>#rm -rf /export/img/*
tarPack=&quot;/root/export/img/${JOB_NAME}.tar.gz&quot;
echo &quot;check path is &quot;${tarPack}
if [ -f &quot;${tarPack}&quot; ]
then
        echo &quot;--------------------------- tar file exist--------------------------- &quot;
	mv /root/export/img/*.tar.gz /export/img/
	cd /export/img/
	tar -zxvf ${JOB_NAME}.tar.gz
	rm /export/img/*.tar.gz
else
        echo &quot;--------------------------- tar file no found, do nothing--------------------------- &quot;
fi</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>rpc_dev</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/img</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>#rm -rf /export/img/*
tarPack=&quot;/root/export/img/${JOB_NAME}.tar.gz&quot;
echo &quot;check path is &quot;${tarPack}
if [ -f &quot;${tarPack}&quot; ]
then
        echo &quot;--------------------------- tar file exist--------------------------- &quot;
	mv /root/export/img/*.tar.gz /export/img/
	cd /export/img/
	tar -zxvf ${JOB_NAME}.tar.gz
	rm /export/img/*.tar.gz
else
        echo &quot;--------------------------- tar file no found, do nothing--------------------------- &quot;
fi</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
  </publishers>
  <buildWrappers/>
  <prebuilders>
    <hudson.tasks.Shell>
      <command>cd /root/.jenkins/jobs/${JOB_NAME}/workspace
#rm .vertion
sh /usr/local/fekitConf/diffPackage.sh</command>
    </hudson.tasks.Shell>
  </prebuilders>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>